@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.tarjeta {
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(185, 221, 243);

}

.card {
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #ccc;
    font-family: "Roboto", sans-serif;
    
}

.card img {
    width: 100%;
}

.card-content {
    padding: 20px;   
}

.card h1 {
    text-align: center;
    color: white;
}

.card h2 {
    font-size: 15px;
}

.card:hover {
    background-color: rgb(157, 233, 208);
    transform: scale(1.05);
}

.card .footer {
    padding: 25px;
    text-align: center;
}

.boton a {
    text-decoration: none;
}
